<table>
	<tr>
		<td>
			<%= f.label :option, "Option" %><br />
			<%= f.text_area :option, :size => "2x2" %><br />			
		</td>
		<td></td>
		<td>
			<%= f.label :content, "Answer" %><br />
			<%= f.text_area :content, :size => "60x4"%><br/>
		</td>
	</tr>
</table>


